{%extends 'base.html'%}

{%block content%}

{%if eventos%}
<h2>EVENTOS FINALIZADOS</h2>
  <table border="1" cellpadding="10">
  <th>Id Evento</th>
  <th>Titulo</th>
  <th>Descrição</th>
  <th>Valor maximo</th>
  <th>Valor minimo</th>
  <th>Data inicio aposta</th>
  <th>Data fim aposta</th>
  <th>Data fim evento</th>
  <th>Categoria</th>
  <th>Resposta</th>
  {%for rows in (eventos)%}
    <tr>
      <td>{{rows[0]}}</td>
      <td>{{rows[2]}}</td>
      <td>{{rows[3]}}</td>
      <td>{{rows[4]}}</td>
      <td>{{rows[5]}}</td>
      <td>{{rows[7]}}</td>
      <td>{{rows[9]}}</td>
      <td>{{rows[8]}}</td>
      <td>{{rows[11]}}</td>
      <td>
        <form action="{{ url_for('finalizar', evento_id=rows[0]) }}" onsubmit="return confirm('Finalizar evento?');" type='input' method='POST'>
          <input type="submit" name="sim" value="sim">
          <input type="submit" name="nao" value="nao">
        </form>
      </td>
    </tr>
  {%endfor%}
  </table>
{%endif%}


{%endblock%}